@import "mocha.css";

/* --This configuration uses a Catppuccin palette, mocha, has blur 
   --configuration in development.
   --Github: https://github.com/ZepharDev */

.control-center { 
  background-color: @base-blur;
  opacity: 1;
}

.notificacion-row {
  background: @base;
  color: @text;
  padding: 0px;
  margin: 0px;
  border: 2px solid @red;
  border-radius: 0;
}

.notification, .notification:hover {
  color: @text;
  background: @base-blur;
  opacity: 1;
  margin: 0px;
  padding: 0px;
  border: 2px;
  border-radius: 2px;
}

.close-button {
  background: @red;
  border-radius: 2px;
  border: 2px;
  margin: 0px;
  padding: 0px;
}

.close-button:hover {
  background-color: @red;
  margin: 0px;
  opacity: 1;
  padding: 0px;
  border: 2px;
  border-radius: 2px;
}

.floating-notifications {
  border: 2px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

.notification-default-action {
  border: 2px;
  margin: 2px;
  padding: 1px;
  border-radius: 0px;
}

.widget-title {
  margin: 8px;
  padding-top: 12px;
  font-size: 24px;
  border: 2px;
  border-radius: 0px;
}

.image {
  border: 2px;
}

.time {
  background: transparent;
  color: @text;
}

.widget-mpris {
  border-radius: 2px;
  padding: 2px;
  margin: 1px;
  border: 2px;
  opacity: 0.89;
}

.widget-mpris {
  padding: 5px;
  margin: 2px;
  border: 2px;
  border-radius: 0px;
}
