//--- Configuration wallpaper menu. ZepharDev --// 

@import "mocha.rasi"

* {
  font:              "JetBrains Mono Nerd Font 16";
  background-color:   transparent;
  background: @base;
  foreground: @text;
}
